<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Site pour un stage en fin de formation">
    <title>Site vitrine Agricole</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <div class="navigation">
        <div class="logo">
            <img src="/img/logo.webp" alt="logo d'un tracteur sur un champs">
        </div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/products">Produits</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/shop">Boutique</a></li>
            </ul>
        </nav>
    </div>
    <div class="background">
        <div class="info">
            <h1>Gaec de Kerdec</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus aperiam asperiores atque beatae corporis deserunt
                doloribus eius enim est eveniet fugiat illum ipsam laboriosam
                mollitia nam nemo numquam pariatur, perspiciatis quasi quibusdam
                quod rem ullam vel veniam vitae? Atque aut autem cupiditate
                dolorum magni maiores mollitia nemo quas sunt tempore.
            </p>
            <a href="/contact">A propos de nous</a>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <%- include(template) -%>
    </div>
</main>

<footer>
    <div class="legacy-mentions">
        <div class="legacy">
            <p>Site réalisé pour un stage en fin de formation</p>
        </div>
        <div class="mentions">
            <p>Mentions légales</p>
        </div>
    </div>
</footer>
</body>
</html>