<section class="search-produits">
    <article class="search-filter">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Rechercher...">
            <button type="button" id="searchButton">Rechercher</button>
        </div>
        <div class="filter-container">
            <h3>Filtrer par catégorie :</h3>
            <label>
                <input type="checkbox" name="category" value="endive"> Endive
            </label>
            <label>
                <input type="checkbox" name="category" value="carmine"> Carmines
            </label>
            <label>
                <input type="checkbox" name="category" value="echalotte"> Echalottes
            </label>
        </div>
    </article>
</section>
<section class="produit-boutique">
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
    <article class="produit">
        <img src="image du produit" alt="image du produit">
        <h3>nom du produit</h3>
        <p>prix du produit</p>
    </article>
</section>
<section class="info-affiliations">
    <img src="/img/salade.webp" alt="Image d'une salade">
    <article>
        <h2>Nos affiliations</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur non quaerat repellendus sed. Aperiam dignissimos
            illo laborum magni perspiciatis quis quisquam reprehenderit
            sed ullam unde!
        </p>
        <div class="img-affiliation">
            <img src="" alt="img PDB">
            <img src="" alt="img AB">
            <img src="" alt="img EVEN">
        </div>
        <a href="">En savoir plus</a>

        
    </article>
</section>
<script src="../public/js/search_flitre.js"></script>